body{
    margin: 0;
    padding: 0;
    font-family: 'Syne Mono';
    font-size: 20px;
}


#myCanvas{
    width: 600px;
    height: 400px;
    border: 1px solid black
}

h1{
    color: brown;
}

.left{
    background-color:chocolate
}
.right{
    background-color:chocolate
}

.theGame{
  
    align-content: center;
    text-align: center;
}

.playBtn{
    width: 100px;
    height: 60px;
    position: absolute;
    margin-left: 260px;
    margin-top: 280px;
}

